<html>
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <section class="overzicht">

        <h2> Uw antwoorden </h2>

        <div class="antwoord">
            <h2>Introductie</h2>
            <p>Uw naam: <%= res.firstname %></p>
            <p>Leeftijd: <%= res.age %></p>
        </div>

        <div class="antwoord">
            <h2>Welke codetaal vind jij het leukst?</h2>
            <p>Favoriete Codetaal: <%= res.code %></p>
        </div>

        <div class="antwoord">
            <h2>Email</h2>
            <p>Email: <%= res.email %></p>
        </div>

        <div class="buttons">
            <button class="btn"><a href="<%= url %>">Edit</a></button>
            <a href="/confirm" class="btn" type="send">Confirm </a>
        </div>
    </section>

</body>

</html>