<html>
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <section class="overzicht">

        <h2> Uw antwoorden </h2>

        <div class="antwoord">
            <h2>Introductie</h2>
            <p>Uw naam: <%= res.firstname %></p>
            <p>Leeftijd: <%= res.age %></p>
        </div>

        <div class="antwoord">
            <h2>Welke codetaal vind jij het leukst?</h2>
            <p>Favoriete Codetaal: <%= res.code %></p>
        </div>

        <div class="antwoord">
            <h2>Wat vind jij het leukste vak?</h2>
            <p>Favoriete Codetaal: <%= res.course %></p>
        </div>

        <div class="buttons">
            <button class="btn"><a href="{{url}}">Edit</a></button>
            <button class="btn" formaction="/confirm" type="send">Confirm</button>
        </div>
    </section>

</body>

</html>