<html>
<%- include('partials/head') %>

<body>
  <div class="typewriter">
    <h1 id="title">Welkom, <%= res.firstname %></h1>
    <h2>Enquete</h2>
  </div>
  <a href="/save" class="save" name="state" type="submit" id="submit" value="save">Save</a>

  <div class="form-section">

    <!-- <progress id="file" value="25" max="100"></progress> -->
    <form id="form" class="form" method="GET" autocomplete="off">
      <label for="firstName" class="name">Naam</label>
      <input required type="text" id="firstname" name="firstname" placeholder="Naam" value=<%= res.firstname %>>

      <label for="age" class="age">Leeftijd</label>
      <input required type="text" id="age" name="age" placeholder="Leeftijd" value=<%= res.age %>>

      <label for="code">Favoriete codetaal</label>
      <input required type="text" id="code" name="code" placeholder="Favoriete codetaal" value=<%= res.code %>>

      <label for="email">Email</label>
      <input required type="email" id="email" name="email" placeholder="Email" value="<%= res.email %>" size="30"
        maxlength="100" aria-describedby="email-notes" autocomplete="nope">


      <!-- <label for="agree" class="side-label">Ik ga akkoord dat deze data wordt gebruikt voor het verbeteren van de
        minor</label>
      <input required id="agree" type="checkbox" name="agree" value="check"> -->

      <!-- <div class="container">
          <h2>Welke codetaal vind jij het leukst?</h2>
          <ul>
            <li>
              <input required type="radio" id="HTML" name="code" value="HTML" <%
                if(res.code == 'HTML') { %> checked="checked" <% } %> />
              <label for="HTML">HTML </label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="CSS" name="code" value="CSS" <%
                if(res.code == 'CSS') { %> checked="checked" <% } %> />
              <label for="CSS">CSS </label><br />
              <div class="check">
                <div class="inside"></div>
              </div>
            </li>
            <li>
              <input type="radio" id="JavaScript" name="code" value="JavaScript" <% if(res.code == 'JavaScript') { %>
                checked="checked" <% } %> />
              <label for="JavaScript">JavaScript </label>
              <div class="check">
                <div class="inside"></div>
              </div>
            </li>
          </ul>
        </div> -->

      <input id="btnAgree" class="btn" formaction="/final" name="submit" type="submit" id="submit" />
      <!-- <input class="save" formaction="/save" name="state" type="submit" id="submit" value="save" /> -->

    </form>

  </div>
  <%- include('partials/footer') %>
</body>


</html>