<html>
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>

  <body>
    <div class="form-section">

      <form id="form" class="form" method="GET" autocomplete="off">

        <input required type="text" id="firstname" name="firstname" placeholder="Wat is jouw naam?"
          value=<%= res.firstname %>>
        <label for="firstName"></label>

        <input required type="text" id="age" name="age" placeholder="Leeftijd" value=<%= res.age %>>
        <label for="age"></label>

        <input required type="text" id="code" name="code" placeholder="Leukste codetaal" value=<%= res.code %>>
        <label for="code"></label>

        <input id="email" placeholder="Email *" name="email" type="email" value="" size="30" maxlength="100"
          aria-describedby="email-notes" autocomplete="nope" required>
        <label for="email">Email</label>

        <!-- <div class="container">
          <h2>Welke codetaal vind jij het leukst?</h2>
          <ul>
            <li>
              <input required type="radio" id="HTML" name="code" value="HTML" <%
                if(res.code == 'HTML') { %> checked="checked" <% } %> />
              <label for="HTML">HTML </label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="CSS" name="code" value="CSS" <%
                if(res.code == 'CSS') { %> checked="checked" <% } %> />
              <label for="CSS">CSS </label><br />
              <div class="check">
                <div class="inside"></div>
              </div>
            </li>
            <li>
              <input type="radio" id="JavaScript" name="code" value="JavaScript" <% if(res.code == 'JavaScript') { %>
                checked="checked" <% } %> />
              <label for="JavaScript">JavaScript </label>
              <div class="check">
                <div class="inside"></div>
              </div>
            </li>
          </ul>
        </div> -->


        <!-- <div class="buttons"> -->
        <input class="btn" formaction="/final" name="submit" type="submit" id="submit" />

        <input class="save" formaction="/save" name="state" type="submit" id="submit" value="save" />


        <!-- </div> -->
      </form>



    </div>
  </body>


</html>