<html>
<%- include('partials/head') %>

<body>
  <div class="typewriter">
    <h1 id="title">Welkom! <%= res.firstname %></h1>
    <h2>Enquete Minor Web Dev</h2>
  </div>
  <!-- <a href="/save" class="save" name="state" type="submit" id="submit" value="save" save-btn>Save</a> -->

  <!-- <button class="btn" delete-btn>Delete answers</button> -->
  <button id="LocalStorage" class="btn">Local Storage</button>

  <main>
    <section>
      <div id="LocalStorageOutput">
      </div>

      <form id="form" class="form" method="GET" autocomplete="off" data-new-list-form>
        <input id="input-1" required type="text" id="firstname" data-new-list-input name="firstname" placeholder="Peter"
          value="<%= res.firstname %>" autofocus />
        <label for="input-1">
          <span class="label-text">Naam</span>
          <span class="nav-dot"></span>
          <span class="bar"><span class="Q1"></span></span>
          </progress>
          <p class="tip">Volgende vraag; ENTER</p>
        </label>
        <input id="input-2" required type="text" id="age" data-new-list-input name="age" placeholder="20"
          value="<%= res.age %>">
        <label for="input-2">
          <span class="label-text">Leeftijd</span>
          <span class="nav-dot"></span>
          <span class="bar"><span class="Q2"></span></span>
          </progress>
          <p class="tip">Volgende vraag; ENTER</p>
        </label>
        <input id="input-3" required type="text" id="code" data-new-list-input name="code" placeholder="CSS"
          value="<%= res.code %>" />
        <label for="input-3">
          <span class="label-text">Wat is jouw favoriete codetaal?</span>
          <span class="nav-dot"></span>
          <span class="bar"><span class="Q3"></span></span>
          </progress>
          <p class="tip">Volgende vraag; ENTER</p>
        </label>
        <input id="input-4" required type="text" id="teacher" data-new-list-input name="teacher"
          placeholder="Koop Reynders" value="<%= res.teacher %>">
        <label for="input-4">
          <span class="label-text">Leukste Docent</span>
          <span class="nav-dot"></span>
          <span class="bar"><span class="Q4"></span></span>
          </progress>
          <p class="tip">Volgende vraag; ENTER</p>
        </label>
        <input id="input-5" required type="text" id="course" data-new-list-input name="course"
          placeholder="Browser Technologies" value="<%= res.course %>">
        <label for="input-5">
          <span class="label-text">Leukste vak</span>
          <span class="nav-dot"></span>
          <span class="bar"><span class="Q5"></span></span>
          </progress>
          <p class="tip">Volgende vraag; ENTER</p>
        </label>

        <div class="buttonSend">
        <button formaction="/final" name="submit" type="submit" class="send">Versturen</button>
      </div>
        <button formaction="/save" formnovalidate type="save" class="save" id="save">Save </button>

      </form>
    </section>

  </main>

  <%- include('partials/footer') %>
</body>


</html>