<html>
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <div class="save-page">
      <h3>Vervolg uw enquete later</h3>
      <article>
        <p>
          LET OP! Bewaar deze link goed zodat u de enquete later kunt afmaken
        </p>
        <a href="<%= url %>"><%= url %></a>
        <button class="copy" id="copy-link-btn">Copy Link</button>
        <div id="copy-link-wrapper" class="copy-link-wrapper">
          <!-- <h2>Copy link</h2>
          <p>Press Ctrl / CMD + C to copy this to your clipboard.</p>
          <input readonly="readonly" type="text" value="" />
        </div>
        <div id="overlay" class="overlay"></div> -->
      </article>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
