<html>
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <div class="save-page">
      <h3>Vervolg uw enquete later</h3>
      <article>
        <p>
          LET OP! Bewaar deze link goed zodat u de enquete later kunt afmaken
        </p>
        <a href="<%= url %>"
          ><input class="saveInput" type="text" value="<%= url %>" id="myInput"
        /></a>
        <button class="copy" id="copy-link-btn" aria-label="Copy">
          Kopieer Link
        </button>
      </article>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
